body {
  height: 100%;
  width: 100%;
}
/*.cover-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}*/
/*.contact-content{
  position: absolute;
  right:0;
}*/
/*.inner-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}*/
.namebreak {
  display: block;
}
.site-wrapper {
  display: block;
}
.title {
  /*text-align: center;*/
  white-space: normal !important;
  font-size: 50px;
  margin-left: 50px;
  margin-top: 50px;
}

#wizard {
  margin-top: 50px;
  font-size: 50px;
  color: rgb(142, 142, 142);
  text-emphasis:4;
}
.links {
  /*height: 200px;*/
  margin-left: 50px;
  margin-top: 25px;
  padding: 0;
  list-style-type: none;
  /*text-align: center;*/
}
.links li {
  display: block;
  list-style-type: none;
  text-decoration: underline;
  padding: .2em 1em;
}
.links li:hover {
  text-decoration: none;
}
.contact {
  margin-top: 50px;
  display: block;
  padding: 0;
  text-align: center;
}
a {
  color: black !important;
  font-size: 20px;
  }
.mastfoot {
  position: relative;
  text-align: center;
  /*margin-top: 20px*/
  bottom: 0;
  width: 100%;
  height: 60px;
}

@media(min-width:480px) {
  .namebreak {
    display: none;
  }
  .title {
    text-align: left;
    margin-top: 100px;
    font-size: 75px;
  }
  #wizard {
  margin-top: 100px;
  font-size: 80px;
  }
  .links {
    text-align: left;
  }
  .links li{
    display: inline-block;
    margin-top: 100px;
  }
  .mastfoot {
    margin-top: 100px;
    position: absolute;
  }
}
