body {
  height: 100%;
  max-width: 100%;
  overflow-x:hidden;
}
.namebreak {
  display: flex;
}
.site-wrapper {
  display: flex;
  flex-direction:column;
  text-align: center;
}
.title {
  font-size: 50px;
  text-align: center;
}

.logo {
  max-width: 50%;
  height: auto;
}

.links {
  list-style-type: none;
  max-width: 100%;
  padding-left: 0;
}
.links li {
  padding:.5em;
  max-width: 100%;
  display: block;
  list-style-type: none;
}
.links li:hover {
  background-color: red;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

@media(min-width:751px) {
  .namebreak {
    display: none;
  }

  .title {
    font-size: 75px;
  }
  .site-wrapper {
    display: flex;
    justify-content: center;
    flex-direction:column;
  }

  .links li{
    display: inline-block;
  }

}
