body {
  height: 100%;
  width: 100%;
}
.namebreak {
  display: flex;
}
.site-wrapper {
  display: flex;
  flex-direction:column;
  text-align: center;
}
.title {
  /*white-space: normal;*/
  font-size: 50px;
  text-align: center;
}

.logo {
  width: 50%;
  height: auto;
}

.links {
  list-style-type: none;
}
.links li {
  display: block;
  list-style-type: none;
  /*padding: .2em 1em;*/
}
.links li:hover {
  background-color: red;
  /*text-decoration: none;*/
  /*font-size: 20px;*/
}
.contact {
  /*margin-top: 50px;*/
  display: block;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  }


@media(min-width:751px) {
  .namebreak {
    display: none;
  }

  .title {
    /*text-align: left;*/
    font-size: 75px;
  }
  .site-wrapper {
    /*display: block;*/
    display: flex;
    justify-content: center;
    flex-direction:column;
  }
  .links {
    /*text-align: left;*/
  }
  .links li{
    display: inline-block;
    /*margin-top: 100px;*/
  }

}
